<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;900&display=swap" rel="stylesheet">
    <title>BikeShop - Shopping cart</title>
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>

</head>

<body>

<!-- header -->
<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-light text-left" href="./">
      <img src="/images/bike-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo The Bike Shop Experience" loading="lazy">
      The Bike Shop Experience
    </a>
    <a href="/cart" class="btn btn-outline-info my-2 my-sm-0" type="submit">My Cart<i class="fas fa-shopping-cart fa-xs ml-2"></i></a>
  </div>
</nav>


<!-- Breadcrumb -->
<div class="container mt-4">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./" class="text-info">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
    </ol>
  </nav>
</div>

<!-- Title  -->
<div class="container">
  <h1>Shopping cart</h1>
</div>



<% if (locals.cancellMsg) { %>

  <div class="container my-4">
    <div class="alert alert-warning" role="alert">
      <%= cancellMsg %>
    </div>
  </div>
 
 <% } %>


<% if(dataCardBikes.length == 0) { %>
  <div class="container my-4">
    <div class="alert alert-info" role="alert">
      Your shopping cart is empty.
    </div>
  </div>
<% } else { %>
  
  <!-- Table -->
<div class="container">
  <div class="table-responsive-md">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Picture</th>
          <th scope="col">Model</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- ligne velo   -->
        
        <% 
            for (var i=0; i<dataCardBikes.length; i++) { 
        %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td> <img src="<%= dataCardBikes[i].photo %>" alt="<%= dataCardBikes[i].name %>" height="35"> </td>
          <td><%= dataCardBikes[i].name %></td>
          <td><form action="/update-cart" method="POST" class="form-inline flex-nowrap">
            <div class="form-group mr-sm-3">
              <input type="number" name="quantity" width="" class="form-control form-control-sm" placeholder="<%= dataCardBikes[i].quantity %>">
              <input type="hidden" name="number" value="<%= i %>">
            </div>
            <button type="submit" class="btn btn-sm btn-light btn-outline-info"><i class="fas fa-sync-alt"></i></button>
          </form>
          </td>
          <td><%= dataCardBikes[i].price %>&nbsp;€</td>
          <td><%= dataCardBikes[i].price * dataCardBikes[i].quantity %>&nbsp;€</td>
          <td><a href="/delete-cart?delete=<%= i %>" class="btn btn-light btn-outline-info btn-sm">
            <i class="far fa-trash-alt"></i>
            </a></td>
        </tr>
        <% 
            } 
        %>
        <!-- fin ligne velo   -->    
      </tbody>
    </table>
  </div>
</div>
<div class="container">

  <div class="row align-items-center">
    <div class="flex-grow-1">
      <p class="text-right h4">Total Basket: <%= locals.total %>&nbsp;€ – Shipping cost: <%= shippingCost %>&nbsp;€</p>
    </div>
    <div class="px-4"><a href="/checkout" id="checkout-btn" class="btn btn-light btn-outline-info mr-4">Checkout</a></div>
  </div>

  <!-- <div class="row mt-4 flex-column">
      <h2>Choose shipping options</h2>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="standard" id="standard" value="option1" checked>
        <label class="form-check-label" for="standard">Standard</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="express" id="express" value="option1">
        <label class="form-check-label" for="express">Express (+ €100 extra fees)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="relay" id="relay" value="option1">
        <label class="form-check-label" for="relay">Relay (€50 fees + €20 per product)</label>
      </div>
      
  </div> -->
  
  <% if (total >= 4000) { %>  
  <div class="row mt-4">
    <div class="col-12">
      <div class="alert alert-info" role="alert">Free shipping over €4,000!</div>
    </div>
  </div>
  <% } %>

</div>

<% } %>





 <!-- scripts -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>